# Backend URLs
# BACKEND_URL="https://opub-backend.civicdatalab.in"
# NEXT_PUBLIC_BACKEND_URL="https://opub-backend.civicdatalab.in"

BACKEND_URL="https://api.dataspace.open-contracting.in"
NEXT_PUBLIC_BACKEND_URL="https://api.dataspace.open-contracting.in"


# Backend Url other url:: https://api.dataspace.open-contracting.in
#Data Management Layer
DATA_MANAGEMENT_LAYER_URL="https://drr.backend.open-contracting.in"
NEXT_PUBLIC_DATA_MANAGEMENT_LAYER_URL="https://drr.backend.open-contracting.in"

# DATA_MANAGEMENT_LAYER_URL="https://hp.drr.backend.open-contracting.in"
# NEXT_PUBLIC_DATA_MANAGEMENT_LAYER_URL="https://hp.drr.backend.open-contracting.in"

#Time Period
NEXT_PUBLIC_TIME_PERIOD="2024_06"
TIME_PERIOD="2024_06"

# Google Translation
NEXT_PUBLIC_GOOGLE_TRANSLATE_KEY="AIzaSyAzA0on2_1IGFzCs5gpXVnebJ5aWn2X188"

# Google Analytics App ID
NEXT_PUBLIC_GOOGLE_ANALYTICS_APP_ID='G-YEL98HY73Q'