BACKEND_URL="https://api.dataspace.open-contracting.in"
DATA_MANAGEMENT_LAYER_URL="https://drr.backend.open-contracting.in"
NEXT_PUBLIC_BACKEND_URL= 'https://api.dataspace.open-contracting.in'
NEXT_PUBLIC_DATA_MANAGEMENT_LAYER_URL="https://drr.backend.open-contracting.in"
