BACKEND_URL="{BACKEND_URL}"
DATA_MANAGEMENT_LAYER_URL="{DATA_MANAGEMENT_LAYER_URL}"
NEXT_PUBLIC_BACKEND_URL="{BACKEND_URL}"
NEXT_PUBLIC_DATA_MANAGEMENT_LAYER_URL="{DATA_MANAGEMENT_LAYER_URL}"
TIME_PERIOD="{LATEST_TIME_PERIOD_DATA_AVAILABLE}"
NEXT_PUBLIC_TIME_PERIOD="{LATEST_TIME_PERIOD_DATA_AVAILABLE}"
