@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('opub-ui/dist/assets/styles.css');
@import url('./tokens/_variables.css');
@import url('nprogress/nprogress.css');

body {
  background-color: var(--background-solid-subdued);
  /* Compensate the height issue due to hiding the default google pop up iframe */
  position: static;
  top: 0px !important;
}

/* Hide the default google pop up iframe */
iframe.skiptranslate {
  display: none !important;
}

#nprogress .bar {
  background: var(--action-primary-success-default) !important;
}

#nprogress .spinner .spinner-icon {
  display: none;
}

.opub-popup {
  border-radius: var(--border-radius-1);
  background-color: #fff !important;
  pointer-events: none;
}

.leaflet-attribution-flag {
  display: none !important;
}
