@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('opub-ui/dist/assets/styles.css');
@import url('./tokens/_variables.css');
@import url('nprogress/nprogress.css');

body {
  background-color: var(--background-solid-subdued);
}

.bhashini-plugin-container .bhashini-dropdown-btn-text {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}

.bhashini-plugin-container .bhashini-dropdown-content {
  right: 0 !important;
  left: auto !important;
}

#nprogress .bar {
  background: var(--action-primary-success-default) !important;
}

#nprogress .spinner .spinner-icon {
  display: none;
}

.opub-popup {
  border-radius: var(--border-radius-1);
  background-color: #fff !important;
  pointer-events: none;
}

.leaflet-attribution-flag {
  display: none !important;
}

/* Ensure react-leaflet maps are visible when parent controls height */
.leaflet-container {
  height: 100%;
  width: 100%;
}
